2) Un importante servicio de monitoreo de aplicaciones cloud, sufrió un importante
incidente en las últimas semanas por lo cual está conduciendo una investigación.
Nuestro equipo participa en el análisis de forma externa para lo cual nos provee
los siguientes dataframes en csv:

- metrics.csv describiendo información de métricas obtenidas. El mismo tiene el
 formato ('client_id', 'integration_id' ,'metric', 'timestamp', 'value')
  donde la columna ‘metric’ indica el nombre de una métrica que se registra en
  un cierto momento ('timestamp') cuyo valor se guarda en la columna 'value'.

- clients.csv con información sobre el cliente, con el formato ('client_id, '
account_number', 'name') donde 'account_number' indica el número de cuenta de
cliente y 'name' el nombre del mismo.

Como miembro de nuestro equipo es necesario que obtengas las siguientes métricas para aportar insights a nuestro análisis:

a) Calcular el valor promedio de las metricas 'aws.vpc.network_out',
'aws.vpc.network_in', 'aws.vpc.network_rate' para los clientes de ‘account_number’
mayor al '25679247' devolviendo el resultado en el siguiente formato
(account_number, 'aws.vpc.network_out_mean', 'aws.vpc.network_in_mean',
'aws.vpc.network_rate_mean')(15pts)

In [127]:
import pandas as pd

metricsDf = pd.read_csv('/home/marcos/PycharmProjects/PracticaPandas/metrics.csv')
clientsDf = pd.read_csv('/home/marcos/PycharmProjects/PracticaPandas/clients.csv')

requestedAccounts = metricsDf.drop(columns={'timestamp', 'integration_id'})
requestedMetrics = ['aws.vpc.network_out', 'aws.vpc.network_in', 'aws.vpc.network_rate']
requestedAccounts = requestedAccounts[requestedAccounts['metric'].isin(requestedMetrics)]
requestedClients = clientsDf[clientsDf['account_number'] > 25679247]
requestedAccounts = requestedAccounts.merge(requestedClients[['client_id', 'account_number']], how='inner', on='client_id')
requestedAccounts.drop(columns='client_id', inplace=True)
requestedData = requestedAccounts.pivot_table(index='account_number', columns='metric',
                                                values='value', aggfunc='mean')
requestedData.rename_axis(columns=None, inplace=True)
requestedData.columns = ['aws.vpc.network_in_mean', 'aws.vpc.network_out_mean', 'aws.vpc.network_rate_mean']
columnsTitles=['aws.vpc.network_out_mean', 'aws.vpc.network_in_mean', 'aws.vpc.network_rate_mean']
clientsMeanMetrics = requestedData.reindex(columns=columnsTitles)
clientsMeanMetrics

,aws.vpc.network_out_mean,aws.vpc.network_in_mean,aws.vpc.network_rate_mean
account_number,,,
25679248,589.000000,401.500000,557.600000
25679249,485.666667,592.500000,622.400000
25679250,631.333333,610.200000,607.000000
25679251,104.000000,361.285714,529.000000
25679252,792.500000,452.000000,NaN
25679253,NaN,NaN,918.000000
25679254,649.833333,NaN,357.666667
25679255,267.000000,494.500000,501.333333
25679256,490.333333,NaN,347.000000
25679257,558.000000,819.750000,758.000000
25679258,609.600000,518.750000,388.833333
25679259,673.500000,330.500000,735.166667
25679260,552.000000,621.666667,630.800000
25679261,805.000000,509.000000,627.500000
25679262,NaN,479.000000,724.400000
25679263,410.500000,513.000000,NaN
25679264,585.777778,407.333333,502.000000
25679265,NaN,242.000000,439.500000
25679266,659.500000,988.000000,638.333333
25679267,517.000000,421.600000,396.666667
25679268,450.000000,530.333333,385.000000
25679269,591.500000,234.500000,428.250000
25679270,334.666667,NaN,609.571429
25679271,777.333333,648.333333,860.000000
25679272,377.666667,395.333333,775.000000
25679273,932.500000,817.250000,546.600000
25679274,690.666667,548.000000,651.800000
25679275,512.500000,643.000000,504.000000
25679276,666.000000,525.000000,584.000000
25679277,428.200000,551.250000,501.166667
25679278,286.000000,398.000000,533.000000
25679279,591.500000,285.000000,330.600000

b) Calcular la diferencia entre el valor promedio obtenido en cada métrica
por cada cliente, y el valor promedio general de esa métrica (sin utilizar group by) (10pts)

In [128]:
meanMetrics = requestedAccounts.pivot_table(index='account_number', columns='metric',
                                                values='value', aggfunc='sum')
meanMetrics = meanMetrics.apply(func='mean', axis=0)
clientsMeanMetrics['aws.vpc.network_out_mean'] = abs(clientsMeanMetrics['aws.vpc.network_out_mean']\
                                                 - meanMetrics.loc['aws.vpc.network_out'])
clientsMeanMetrics['aws.vpc.network_in_mean'] = abs(clientsMeanMetrics['aws.vpc.network_in_mean']\
                                                 - meanMetrics.loc['aws.vpc.network_in'])
clientsMeanMetrics['aws.vpc.network_rate_mean'] = abs(clientsMeanMetrics['aws.vpc.network_rate_mean']\
                                                 - meanMetrics.loc['aws.vpc.network_rate'])

clientsMeanMetrics.columns = ['aws.vpc.network_out_diff', 'aws.vpc.network_in_diff', 'aws.vpc.network_rate_diff']
clientsMeanMetrics

,aws.vpc.network_out_diff,aws.vpc.network_in_diff,aws.vpc.network_rate_diff
account_number,,,
25679248,1263.793103,1549.500000,1502.133333
25679249,1367.126437,1358.500000,1437.333333
25679250,1221.459770,1340.800000,1452.733333
25679251,1748.793103,1589.714286,1530.733333
25679252,1060.293103,1499.000000,NaN
25679253,NaN,NaN,1141.733333
25679254,1202.959770,NaN,1702.066667
25679255,1585.793103,1456.500000,1558.400000
25679256,1362.459770,NaN,1712.733333
25679257,1294.793103,1131.250000,1301.733333
25679258,1243.193103,1432.250000,1670.900000
25679259,1179.293103,1620.500000,1324.566667
25679260,1300.793103,1329.333333,1428.933333
25679261,1047.793103,1442.000000,1432.233333
25679262,NaN,1472.000000,1335.333333
25679263,1442.293103,1438.000000,NaN
25679264,1267.015326,1543.666667,1557.733333
25679265,NaN,1709.000000,1620.233333
25679266,1193.293103,963.000000,1421.400000
25679267,1335.793103,1529.400000,1663.066667
25679268,1402.793103,1420.666667,1674.733333
25679269,1261.293103,1716.500000,1631.483333
25679270,1518.126437,NaN,1450.161905
25679271,1075.459770,1302.666667,1199.733333
25679272,1475.126437,1555.666667,1284.733333
25679273,920.293103,1133.750000,1513.133333
25679274,1162.126437,1403.000000,1407.933333
25679275,1340.293103,1308.000000,1555.733333
25679276,1186.793103,1426.000000,1475.733333
25679277,1424.593103,1399.750000,1558.566667
25679278,1566.793103,1553.000000,1526.733333
25679279,1261.293103,1666.000000,1729.133333