EJ 1 Dado el registro de notas de los alumnos de la forma (padrón, materia,
nota, fecha). Se pide resolver utilizando Pandas:

a) Cuál es el promedio general de notas.

In [1]:
import pandas as pd

df = pd.read_csv('/home/marcos/PycharmProjects/PracticaPandas/Ej1.csv')
meanScore = df['Nota'].mean()
print(meanScore)

5.32258064516129

b) Cuál es la nota más alta y la nota más baja registrada durante el año 2019.

In [2]:
df.loc[:, 'Fecha'] = pd.to_datetime(df['Fecha'], format='%d-%m-%Y', errors='coerce')
scoresFrom2019 = df[df['Fecha'].dt.year == 2019].loc[:, 'Nota']

La nota mas alta del 2019 fue

In [3]:
scoresFrom2019.min()

2

La nota mas baja del 2019 fue

In [4]:
scoresFrom2019.max()

8

c) Cuál es el padrón con mayor cantidad de materias aprobadas durante el
último cuatrimestre.

Asumo que las notas de las materias simbolizan la nota con la que cerro la materia
por lo tanto no deberia haber materias repetidas para un mismo padron. Tambien asumo
que el ultimo cuatri es el primero del 2019 porque tremenda paja calcular el cuatri en base
a la fecha generica actual.

In [5]:
scoresFromPassedExams = df[(df['Fecha'] >= '1-1-2019') & (df['Nota'] >= 4)] #me quedo con los datos de materias aprobadas
scoresFromPassedExams['Padron'].mode()

0    100837
dtype: int64

d) Cuál es la nota promedio por materia.

In [6]:
meanScorePerSubject = df.loc[:, ['Materia', 'Nota']].groupby(by='Materia').agg(func='mean')
meanScorePerSubject

               Nota
Materia
Materia 1  4.400000
Materia 2  6.400000
Materia 3  5.125000
Materia 4  5.500000
Materia 5  5.285714

e) Cuál es la nota promedio por padrón.

In [7]:
meanScorePerStudent = df.loc[:, ['Padron', 'Nota']].groupby(by='Padron').agg(func='mean')
meanScorePerStudent

        Nota
Padron
100039     4
100837     7
100851     4
101001     3
101006     4
101190     7
101340     9
102144     8
102369     2
102479     2
103358     7
103409     7
103528     3
104121     2
104244     7
104736     5
104831     2
104937     9
105089     7
105474     5
105603     6
105860     3
105891     6
106022     9
106903     2
107093     8
107271     7
107839     3
107897     6
108628     4