EJ 2 - Se tiene un registro de transacciones bancarias, de la forma
(nro de transacción, tipo de transacción, cuenta origen, cuenta destino, fecha,
hora, monto). Se pide resolver en Pandas:

a) Validar que todas las transacciones cuenten con un tipo de transacción.

In [1]:
import pandas as pd

df = pd.read_csv('/home/marcos/PycharmProjects/PracticaPandas/Ej2.csv')
df.dropna(subset=['Tipo de transaccion'], inplace=True)

b) Validar que para las transacciones del tipo transferencia,
exista siempre tanto cuenta origen como cuenta destino

In [2]:
transactions = df[df['Tipo de transaccion'] == 'Transferencia']
df = df[(df['Tipo de transaccion'] != 'Transferencia') | \
     (~transactions['Cuenta origen'].isnull() & ~transactions['Cuenta destino'].isnull())]
df.head(10)

,Cuenta destino,Cuenta origen,Fecha,Hora,Monto,Num. de transaccion,Tipo de transaccion
0,NaN,Cuenta 2,20/6/2019,15:45:00,623.504516,15,Deposito
1,Cuenta 5,Cuenta 4,23/9/2018,16:23:05,524.575637,16,Transferencia
2,Cuenta 3,Cuenta 4,23/9/2018,15:45:00,748.817997,17,Deposito
5,Cuenta 5,Cuenta 1,2/10/2019,16:23:05,505.891062,20,Deposito
6,Cuenta 5,Cuenta 5,7/6/2019,10:00:00,877.988462,21,Extraccion
8,Cuenta 1,Cuenta 2,20/6/2019,10:00:00,227.629101,23,Deposito
9,Cuenta 3,Cuenta 1,5/1/2020,13:05:00,988.428871,24,Deposito

d) Indicar cuáles fueron las 5 transacciones de mayor monto.

In [3]:
df.nlargest(5, ['Monto'])

,Cuenta destino,Cuenta origen,Fecha,Hora,Monto,Num. de transaccion,Tipo de transaccion
9,Cuenta 3,Cuenta 1,5/1/2020,13:05:00,988.428871,24,Deposito
6,Cuenta 5,Cuenta 5,7/6/2019,10:00:00,877.988462,21,Extraccion
2,Cuenta 3,Cuenta 4,23/9/2018,15:45:00,748.817997,17,Deposito
0,NaN,Cuenta 2,20/6/2019,15:45:00,623.504516,15,Deposito
1,Cuenta 5,Cuenta 4,23/9/2018,16:23:05,524.575637,16,Transferencia

e) Indicar cuál es el tipo de transacción que registra mayor monto promedio.

In [4]:
transactionsInfo = (df.groupby(by='Tipo de transaccion')['Monto'].mean()).nlargest(1)
transactionsInfo

Tipo de transaccion
Extraccion    877.988462
Name: Monto, dtype: float64

f) Indicar cuáles son las 5 cuentas con mayor cantidad de transacciones.

In [5]:
originCounts = df['Cuenta origen'].value_counts()
destinyCounts = df['Cuenta destino'].value_counts()
originCounts.add(other=destinyCounts, fill_value=0).nlargest(5)

Cuenta 5    4.0
Cuenta 1    3.0
Cuenta 2    2.0
Cuenta 3    2.0
Cuenta 4    2.0
dtype: float64

h) Para el tipo de transacción con mayor cantidad de monto promedio, indicar
cuales son las 5 cuentas con más transacciones.

In [6]:
transactionsNames = transactionsInfo.index.values
transactionOperations = df.loc[df['Tipo de transaccion'].isin(transactionsNames)]
transactionOperations

,Cuenta destino,Cuenta origen,Fecha,Hora,Monto,Num. de transaccion,Tipo de transaccion
6,Cuenta 5,Cuenta 5,7/6/2019,10:00:00,877.988462,21,Extraccion

In [7]:
originCounts = transactionOperations['Cuenta origen'].value_counts()
destinyCounts = transactionOperations['Cuenta destino'].value_counts()
originCounts.add(other=destinyCounts, fill_value=0).nlargest(5)

Cuenta 5    2
dtype: int64