Ej 3)

a) Promedio por producto con el siguiente formato (codigo de producto,
promedio de ventas)

In [11]:
import pandas as pd

df = pd.read_csv('/home/marcos/PycharmProjects/PracticaPandas/Ej3.csv')
df.groupby(by='producto', as_index=False).agg({'ventas':'mean'}).\
    rename(columns={'producto':'Codigo producto', 'ventas':'Promedio de ventas'}).\
    set_index(['Codigo producto', 'Promedio de ventas'])\

Empty DataFrame
Columns: []
Index: [(prod1, 12.0), (prod2, 32.0), (prod3, 30.0), (prod4, 38.0), (prod5, 30.0)]

b) Mínimo, Máximo y Promedio de ventas por producto con el formato
(codigo de producto, ventas mensuales) donde min max y mean van para cada producto
(o sea no con columnas)

In [12]:
df.groupby(by='producto', as_index=False).agg({'ventas':['min', 'max', 'mean']}).\
    set_index(['producto']).rename_axis(index=None).stack().rename(index={'min':'Minimo ventas mensual', 'max':'Maximo ventas mensual',
                  'mean':'Promedio ventas mensual'}, columns={'ventas':''})

prod1 Minimo ventas mensual    12.0
      Maximo ventas mensual    12.0
      Promedio ventas mensual  12.0
prod2 Minimo ventas mensual    12.0
      Maximo ventas mensual    51.0
      Promedio ventas mensual  32.0
prod3 Minimo ventas mensual    16.0
      Maximo ventas mensual    51.0
      Promedio ventas mensual  30.0
prod4 Minimo ventas mensual    35.0
      Maximo ventas mensual    41.0
      Promedio ventas mensual  38.0
prod5 Minimo ventas mensual    11.0
      Maximo ventas mensual    61.0
      Promedio ventas mensual  30.0

c) Mínimo, Máximo y Promedio de ventas por producto con el formato

In [13]:
df.groupby(by='producto').agg({'ventas':['min', 'max', 'mean']}).droplevel(0, axis=1).\
    reset_index().rename(columns={'producto':'Codigo producto', 'min':'Minimo ventas mensual', 'max':'Maximo ventas mensual',
                  'mean':'Promedio ventas mensual'}).set_index(['Codigo producto', 'Minimo ventas mensual',
                                                                                          'Maximo ventas mensual',
                                                                                          'Promedio ventas mensual'])

Empty DataFrame
Columns: []
Index: [(prod1, 12.0, 12.0, 12.0), (prod2, 12.0, 51.0, 32.0), (prod3, 16.0, 51.0, 30.0), (prod4, 35.0, 41.0, 38.0), (prod5, 11.0, 61.0, 30.0)]

d) Mínimo, Máximo y Promedio de ventas por producto con el formato

In [14]:
df.groupby(by='producto').agg({'ventas':['min', 'max', 'mean']}).droplevel(0, axis=1)\
    .rename_axis('').transpose().rename(index={'min':'Minimo ventas mensual', 'max':'Maximo ventas mensual',
                  'mean':'Promedio ventas mensual'})

                         prod1  prod2  prod3  prod4  prod5
Minimo ventas mensual     12.0   12.0   16.0   35.0   11.0
Maximo ventas mensual     12.0   51.0   51.0   41.0   61.0
Promedio ventas mensual   12.0   32.0   30.0   38.0   30.0

e) Qué productos son provistos por los distintos fabricantes, indicando True/False
con el siguiente formato:

In [15]:
newDf = pd.crosstab(df['producto'], df['fabricante']).astype('bool').rename_axis(index=None, columns=None)
newDf

       fabr1  fabr2  fabr3  fabr4  fabr5
prod1   True  False   True  False  False
prod2   True   True   True   True   True
prod3  False   True   True  False   True
prod4  False   True  False   True  False
prod5   True  False   True   True  False