9) Un importante broker de compra y venta de vehiculos online se encuentra dando
sus primeros pasos en la preparación de su algoritmo de pricing, es por eso que
se encuentra generando algunos features iniciales para experimentar con distintos
algoritmos de machine learning.

Para ello cuenta con un archivo con información de todas las transacciones que
tuvo en su primer año de operación en el formato (transaction_id, timestamp, vehicle_model_id, price).
Por otro lado cuenta con información que fue extrayendo a partir de scrapping
durante el último año en el formato (timestamp, source, vehicle_model_id, price).
La información puede venir de múltiples fuentes (source), que pueden ser por ejemplo
distintos sitios de marketplace o clasificados.

Luego de un intenso trabajo previo ha podido unificar los modelos de vehículos
que utiliza para sus transacciones con la información que ha podido obtener de
otros competidores mediante scrapping. Muchos de los modelos disponibles en la
información de scrapping no han sido aún comercializados por la empresa, pero
se sabe que se cuenta con precios scrapeados de todos los modelos que se vendieron.

Se pide generar utilizando Pandas un dataframe que tenga el siguiente formato
(vehicle_model_id, ext_mean_price, ext_std_price, int_mean_price, int_std_price), siendo:

- mean_price: precio promedio para ese vehículo.
- std_price: desvío estándar del precio para ese vehículo.

y los prefijo ext_ y int_ indicando que deben ser calculado sobre respectivamente datos externos (los obtenido vía scraping) y datos internos (los de las transacciones).

In [63]:
import pandas as pd

intDf = pd.read_csv('/home/marcos/PycharmProjects/PracticaPandas/internal.csv')
extDf = pd.read_csv('/home/marcos/PycharmProjects/PracticaPandas/scrapping.csv')

internalStats = intDf.groupby(by='vehicle_model_id').agg({'price':['mean', 'std']})
externalStats = extDf.groupby(by='vehicle_model_id').agg({'price':['mean', 'std']})

stats = externalStats.merge(internalStats, how='outer', on='vehicle_model_id')
stats.columns = ['ext_mean_price', 'ext_std_price', 'int_mean_price', 'int_std_price']
stats
#stats.rename({('price_x', 'mean'):('price_x', 'a')})
#stats.columns

                  ext_mean_price  ext_std_price  int_mean_price  int_std_price
vehicle_model_id
1                   19505.465116    5845.471716    20078.250000    5798.055042
2                   18816.510204    5373.395141    20501.314286    6245.863488
3                   18997.257576    6335.407279    18966.424242    6094.858315
4                   18832.878049    5644.847833    19200.529412    6119.948096
5                   19572.711864    5738.358714    20377.661538    5425.257601
6                   20403.929825    6494.808979    19546.436364    5595.464790
7                   19138.159091    5865.163238    19276.192308    6275.801068
8                   18991.860465    5921.530841    19706.916667    5917.786769
9                   21621.633333    5309.819432    19847.081967    5716.994946
10                  20813.673469    6227.009520    19712.300000    6100.161250
11                  19757.075472    5001.238927    19848.384615    6239.829400
12                  19196.687500    6801.565124    20883.981818    6125.275917
13                  18101.106383    5106.950746    20643.962963    5733.869960
14                  20158.437500    5838.229059    19781.121622    5849.717946
15                  19904.854167    5698.046519    19677.081081    5711.666541
16                  20812.980769    6139.484664             NaN            NaN
17                  19964.219512    5294.491267             NaN            NaN
18                  20731.440000    6010.863543             NaN            NaN
19                  19258.962963    5590.808424             NaN            NaN
20                  21096.625000    6094.609312             NaN            NaN